.co-container{
  display: flex;
  flex-direction: column;
  margin: 80px;
  box-shadow: 2px 2px 8px #cfcdcd;
}
.co-container>* {
  display: flex;
  justify-content: space-between; 
}
.co-header_title {
display: flex;
padding: 10px;
border: 1px solid #cccccc;
}
.breadcrumb{
  list-style: none;
  flex:3;
}
.breadcrumb li{
  display: inline;
}
.breadcrumb>li+li::before{
  content: "/\00a0";
}
.breadcrumb--active{
font-weight: bold;
}
h1{
  flex:1;
  font-weight: bold;
}
.co-content{
  display: flex;
  border: 1px solid #cccccc;
}
.co-content-payblock{
  flex:3;
  padding:10px;
}
.co-content-cartblock{
  background-color: #cccccc;
  flex:2;
  padding:10px;
}